.OuterDiv {
  display: flex;
  justify-content: center;
}

.NewCharacterCard {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  height: 1125px;
  width: 370px;
  border: 2px solid black;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: #e5e5e3;
  box-shadow: 10px 10px 10px grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Title {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Merienda", cursive;
  font-size: 30px;
  margin-left: 70px;
}

textarea {
  width: 300px;
  height: 84px;
}

.NewCharacterCard button {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  background-color: #323e55;
  color: #e5e5e3;
  margin-left: 20px;
}
