.StandardCard {
  font-family: "Montserrat", sans-serif;
  height: 700px;
  width: 370px;
  border: 2px solid black;
  border-radius: 30px;
  margin-bottom: 30px;
  background-color: #e5e5e3;
  box-shadow: 10px 10px 10px grey;
  display: flex;
  align-items: flex-start;
}

.StandardCard img {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10%;
}

.StandardCard button {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  background-color: #323e55;
  color: #e5e5e3;
}

.QuestCard {
  font-family: "Montserrat", sans-serif;
  height: 465px;
  width: 600px;
  border: 2px solid black;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: #e5e5e3;
  box-shadow: 10px 10px 10px grey;
  display: flex;
  align-items: flex-start;
}

.QuestCard button {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  background-color: #323e55;
  color: #e5e5e3;
}

.QuestCard img {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10%;
}

.LeftVsRight {
  display: flex;
  justify-content: space-around;
}

.TopBit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.CampInfo {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CampInfo h2 {
  font-family: "Merienda", cursive;
  display: flex;
  justify-content: center;
}

.CampInfo p {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

.QuestsMapped button {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  background-color: #323e55;
  color: #e5e5e3;
}

.QuestsMapped h2 {
  font-family: "Montserrat", sans-serif;
}

.QuestsMapped h3 {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
}

.Party h2 {
  font-family: "Montserrat", sans-serif;
}

.Npcs h2 {
  font-family: "Montserrat", sans-serif;
}

.Editing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
