h1 {
  font-family: "Merienda", cursive;
  display: flex;
  justify-content: center;
}
.Display {
  height: 100%;
  background-color: #e5e5e3;
  color: black;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.Campaigns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
